<div style="margin-top: 16px; font-family: Calibri, Arial, sans-serif; font-size: 11pt; color: #1f4e79; line-height: 1.35;">
  <p style="margin: 0;">С уважением, Алишер Молдияр.</p>
  <p style="margin: 0;">Менеджер по продажам</p>
  <p style="margin: 0;">ТОО «RenSer Technologies»</p>
  <p style="margin: 0;">050008, Республика Казахстан</p>
  <p style="margin: 0;">г. Алматы, пр. Абая 52В, корпус-1, каб. 607</p>
  <p style="margin: 0;">Сот. тел. +77081193548</p>
  <p style="margin: 12px 0 0 0;"><em>Сайт <a href="https://www.renser.kz" style="color: #1f4e79; font-style: italic; text-decoration: underline;">www.renser.kz</a></em></p>
</div>
